essays/001_this_year_we_can_end_the_death_penalty_in_california.md
essays/002_programming_bottomup.md
essays/005_lisp_for_webbased_applications.md
essays/006_beating_the_averages.md
essays/007_javas_cover.md
essays/008_being_popular.md
essays/009_five_questions_about_language_design.md
essays/010_the_roots_of_lisp.md
essays/011_the_other_road_ahead.md
essays/012_what_made_lisp_different.md
essays/013_why_arc_isnt_especially_objectoriented.md
essays/014_taste_for_makers.md
essays/015_what_languages_fix.md
essays/016_succinctness_is_power.md
essays/017_revenge_of_the_nerds.md
essays/018_a_plan_for_spam.md
essays/019_design_and_research.md
essays/020_better_bayesian_filtering.md
essays/021_why_nerds_are_unpopular.md
essays/022_the_hundredyear_language.md
essays/023_if_lisp_is_so_great.md
essays/024_hackers_and_painters.md
essays/025_filters_that_fight_back.md
essays/026_what_you_cant_say.md
essays/027_the_word_hacker.md
essays/028_how_to_make_wealth.md
essays/029_mind_the_gap.md
essays/030_great_hackers.md
essays/031_the_python_paradox.md
essays/032_the_age_of_the_essay.md
essays/033_what_the_bubble_got_right.md
essays/034_a_version_10.md
essays/035_bradleys_ghost.md
essays/036_its_charisma_stupid.md
essays/037_made_in_usa.md
essays/038_what_youll_wish_youd_known.md
essays/039_how_to_start_a_startup.md
essays/040_a_unified_theory_of_vc_suckage.md
essays/041_undergraduation.md
essays/042_writing__briefly.md
essays/043_return_of_the_mac.md
essays/044_why_smart_people_have_bad_ideas.md
essays/045_the_submarine.md
essays/046_hiring_is_obsolete.md
essays/047_what_business_can_learn_from_open_source.md
essays/048_after_the_ladder.md
essays/049_inequality_and_risk.md
essays/050_what_i_did_this_summer.md
essays/051_ideas_for_startups.md
essays/052_the_venture_capital_squeeze.md
essays/053_how_to_fund_a_startup.md
essays/054_web_20.md
essays/055_good_and_bad_procrastination.md
essays/056_how_to_do_what_you_love.md
essays/057_why_yc.md
essays/058_6631372.md
essays/059_are_software_patents_evil.md
essays/060_see_randomness.md
essays/061_the_hardest_lessons_for_startups_to_learn.md
essays/062_how_to_be_silicon_valley.md
essays/063_why_startups_condense_in_america.md
essays/064_the_power_of_the_marginal.md
essays/065_the_island_test.md
essays/066_copy_what_you_like.md
essays/067_how_to_present_to_investors.md
essays/068_a_students_guide_to_startups.md
essays/069_the_18_mistakes_that_kill_startups.md
essays/070_how_art_can_be_good.md
essays/071_learning_from_founders.md
essays/072_is_it_worth_being_wise.md
essays/073_why_to_not_not_start_a_startup.md
essays/074_microsoft_is_dead.md
essays/075_two_kinds_of_judgement.md
essays/076_the_hackers_guide_to_investors.md
essays/077_an_alternative_theory_of_unions.md
essays/078_the_equity_equation.md
essays/079_stuff.md
essays/080_holding_a_program_in_ones_head.md
essays/081_how_not_to_die.md
essays/082_news_from_the_front.md
essays/083_how_to_do_philosophy.md
essays/083_how_to_do_philosophy.pdf
essays/084_the_future_of_web_startups.md
essays/085_why_to_move_to_a_startup_hub.md
essays/086_six_principles_for_making_new_things.md
essays/087_trolls.md
essays/088_a_new_venture_animal.md
essays/089_you_werent_meant_to_have_a_boss.md
essays/090_how_to_disagree.md
essays/091_some_heroes.md
essays/092_why_there_arent_more_googles.md
essays/093_be_good.md
essays/094_lies_we_tell_kids.md
essays/095_disconnecting_distraction.md
essays/096_cities_and_ambition.md
essays/097_the_pooledrisk_company_management_company.md
essays/098_a_fundraising_survival_guide.md
essays/099_why_to_start_a_startup_in_a_bad_economy.md
essays/100_the_other_half_of_artists_ship.md
essays/101_the_highres_society.md
essays/102_could_vc_be_a_casualty_of_the_recession.md
essays/103_after_credentials.md
essays/104_keep_your_identity_small.md
essays/105_startups_in_13_sentences.md
essays/106_what_ive_learned_from_hacker_news.md
essays/107_can_you_buy_a_silicon_valley__maybe.md
essays/108_why_tv_lost.md
essays/109_how_to_be_an_angel_investor.md
essays/110_relentlessly_resourceful.md
essays/111_five_founders.md
essays/112_the_founder_visa.md
essays/113_why_twitter_is_a_big_deal.md
essays/113_why_twitter_is_a_big_deal.pdf
essays/114_a_local_revolution.md
essays/115_makers_schedule_managers_schedule.md
essays/116_ramen_profitable.md
essays/117_the_trouble_with_the_segway.md
essays/118_what_kate_saw_in_silicon_valley.md
essays/119_the_anatomy_of_determination.md
essays/120_the_list_of_n_things.md
essays/121_postmedium_publishing.md
essays/122_persuade_xor_discover.md
essays/123_what_startups_are_really_like.md
essays/124_apples_mistake.md
essays/125_organic_startup_ideas.md
essays/126_how_to_lose_time_and_money.md
essays/127_the_top_idea_in_your_mind.md
essays/128_the_acceleration_of_addictiveness.md
essays/128_the_acceleration_of_addictiveness.pdf
essays/129_the_future_of_startup_funding.md
essays/130_what_happened_to_yahoo.md
essays/131_high_resolution_fundraising.md
essays/132_where_to_see_silicon_valley.md
essays/133_the_new_funding_landscape.md
essays/134_what_we_look_for_in_founders.md
essays/135_tablets.md
essays/136_founder_control.md
essays/137_subject_airbnb.md
essays/138_the_patent_pledge.md
essays/139_why_startup_hubs_work.md
essays/140_snapshot_viaweb_june_1998.md
essays/141_schlep_blindness.md
essays/142_a_word_to_the_resourceful.md
essays/143_frighteningly_ambitious_startup_ideas.md
essays/144_defining_property.md
essays/145_how_y_combinator_started.md
essays/146_writing_and_speaking.md
essays/147_the_top_of_my_todo_list.md
essays/148_black_swan_farming.md
essays/149_startup__growth.md
essays/150_the_hardware_renaissance.md
essays/151_how_to_get_startup_ideas.md
essays/151_how_to_get_startup_ideas.pdf
essays/152_startup_investing_trends.md
essays/153_do_things_that_dont_scale.md
essays/154_how_to_convince_investors.md
essays/155_investor_herd_dynamics.md
essays/156_how_to_raise_money.md
essays/157_before_the_startup.md
essays/158_mean_people_fail.md
essays/159_the_fatal_pinch.md
essays/160_how_you_know.md
essays/161_how_to_be_an_expert_in_a_changing_world.md
essays/162_let_the_other_95_of_great_programmers_in.md
essays/163_dont_talk_to_corp_dev.md
essays/164_what_doesnt_seem_like_work.md
essays/165_the_ronco_principle.md
essays/166_what_microsoft_is_this_the_altair_basic_of.md
essays/167_change_your_name.md
essays/168_why_its_safe_for_founders_to_be_nice.md
essays/169_default_alive_or_default_dead.md
essays/170_write_like_you_talk.md
essays/171_a_way_to_detect_bias.md
essays/172_jessica_livingston.md
essays/173_the_refragmentation.md
essays/174_economic_inequality.md
essays/175_life_is_short.md
essays/175_life_is_short.pdf
essays/176_how_to_make_pittsburgh_a_startup_hub.md
essays/177_the_risk_of_discovery.md
essays/178_charisma__power.md
essays/179_general_and_surprising.md
essays/180_the_bus_ticket_theory_of_genius.md
essays/181_novelty_and_heresy.md
essays/182_the_lesson_to_unlearn.md
essays/183_having_kids.md
essays/184_fashionable_problems.md
essays/185_the_two_kinds_of_moderate.md
essays/186_haters.md
essays/187_being_a_noob.md
essays/188_how_to_write_usefully.md
essays/189_coronavirus_and_credibility.md
essays/190_orthodox_privilege.md
essays/191_the_four_quadrants_of_conformism.md
essays/192_modeling_a_wealth_tax.md
essays/193_early_work.md
essays/194_how_to_think_for_yourself.md
essays/195_the_airbnbs.md
essays/196_billionaires_build.md
essays/197_earnestness.md
essays/198_what_i_worked_on.md
essays/199_donate_unrestricted.md
essays/200_write_simply.md
essays/201_how_people_get_rich_now.md
essays/201_how_people_get_rich_now.pdf
essays/202_the_real_reason_to_end_the_death_penalty.md
essays/203_an_nft_that_saves_lives.md
essays/204_crazy_new_ideas.md
essays/205_fierce_nerds.md
essays/206_a_project_of_ones_own.md
essays/207_how_to_work_hard.md
essays/208_weird_languages.md
essays/209_beyond_smart.md
essays/210_is_there_such_a_thing_as_good_taste.md
essays/211_putting_ideas_into_words.md
essays/211_putting_ideas_into_words.pdf
essays/212_heresy.md
essays/213_what_ive_learned_from_users.md
essays/214_alien_truth.md
essays/215_what_you_want_to_want.md
essays/216_the_need_to_read.md
essays/217_how_to_get_new_ideas.md
essays/218_how_to_do_great_work.md
essays/218_how_to_do_great_work.pdf
essays/selected_essays.pdf
